body{
  margin-top: 5rem;
}

h2{
  text-transform: uppercase;
  font-weight: bold;
}
h2 span{
  color:#16b6ff;
}

.section-bg{
  position: relative;
}
.section-bg::after{
  position: absolute;
  content: "";
  top: 0;
  left: 10px;
  background: url(../image/img.jpg);
  background-position:center;
  background-size: cover;
    width: 750px;
    height: 500px;
}
#management{
  min-height: 400px;
  padding-left: 7em;
}
.card{
  border-radius: 0;
  margin-top: .5em;
}
.card-header{
    border: none;
    background: none;
    font-size: 1.3em;
    padding-top: 15px;
    padding-right: 15px;
    margin-left: -200px;
}
.card-body{
    text-align: justify;
    color: #808080;
    line-height: 1.5em;
}
.card-header button {
  display: block;
  width: 100%;
  }

button.btn.btn-link {
    padding-top: 0;
    padding-bottom: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

button i {
  float: right;
}

i.fa.fa-angle-down, i.fa.fa-angle-up {
    font-size: 1.5em;
}

